body{margin:0 auto;
padding:0px;
text-align: center; border-width: 0PX}

#container1{background-color:#ca3d26;width:1110px;height:3250px;border-radius: 7px;border-color:white;border-style: double;border-width: 50px}
.logo{position: relative;width: 750px;height: 650px;display: inline-block;float:center;margin-top:50px;}
.clear{clear:both;margin:0px;padding:0px;}
.patch{width: 410px;height: 355px;background-color:#ca3d26;position: absolute;z-index:0;left:377px;top:88px;}

 H1{COLOR:red;font-size: 100PX;font-family:sans-serif,arial,serif;margin-bottom: 100PX;left:10PX;position: relative;}
H4{font-size: 40PX;font-family:sans-serif,arial,serif;left:10px;}
.hs{COLOR:WHITE;font-size: 130PX;font-family:sans-serif,arial,serif;margin-bottom: 100PX;left:10PX;position: relative;}

#container2{background-color:#ca3d26;width:1110px;height:4050px;border-radius: 7px;border-color:white;border-style: double;border-width: 50px}
.logo2{z-index:1;position: relative;width: 500px;height: 400px;display: inline-block;float:center;margin-top:50px;}
#container3{background-color:white;width:1110px;height:29550px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}
#container4{background-color:white;width:1110px;height:3850px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}
#container5{background-color:white;width:1110px;height:2700px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}
#container6{background-color:white;width:1110px;height:5700px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}
#container7{background-color:white;width:1110px;height:6500px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}
#container8{border-radius:7px;border-style: double;border-color:#ca3d26;border-width:20px;background-color:white;width:1110px;height:10500px;}
#container9{background-color:#ca3d26;width:1110px;height:2700px;border-radius: 7px;border-color:WHITE;border-style: double;border-width: 50px}
#container10{transition: height 2s;background-color:#ca3d26;width:1110px;height:4700px;border-radius: 7px;border-color:WHITE;border-style: double;border-width: 50px}
#container11{background-color:white;width:1110px;height:4200px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}
#container12{background-color:white;width:1110px;height:4400px;border-radius: 7px;border-color:red;border-style: double;border-width: 20px}




 .food-h3{color:white;display: inline-block;}
 .love-h3{color:white;display: inline-block;}
.lovefood{ font-family:"TIMES NEW ROMAN",SERIF;top: 530PX;left:420PX;width: 350px;height: 250px;position:absolute;font-size: 60px;margin: 0px;padding: 0px;float:left;display: inline-block;position:0PX;}

  .carta2{ z-index: 1;width: 400px;height: 400px;display: inline-block;position: relative;left:-100px;margin: 0px,0px,padding:0px;

  transition: width 2s, height 2s, transform 1s;
}

.carta2:hover {
  width: 550px;
  height: 550px;
  transform: rotate(360deg)
  ;
}
.MENU{animation-name:MENU;
animation-duration: 1.4s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 0.5s;
TOP:2000PX;
LEFT:0PX;
}
.MENU0:hover {
width: 550px;
height: 550px;
transform: rotate(360deg)
;
}

@keyframes MENU {
0%   { TOP:1600px;}
100%  {TOP:0px;}

}
.MENU0{z-index: 1;width: 400px;height: 400px;display: inline-block;position: relative;left:100px;margin: 0px,0px,padding:0px;

transition: width 2s, height 2s, transform 1s;
}


.MENU0{animation-name:MENU;
animation-duration: 1.4s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 0.5s;
TOP:2000PX;
LEFT:0PX;
}

@keyframes MENU {
0%   { TOP:1600px;}
100%  {TOP:0px;}

}
.carta2{animation-name:carta2;
animation-duration: 1.4s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay:0.5s;
TOP:2000PX;
LEFT:0PX

}

@keyframes carta2 {
0%   { TOP:1600px;}
100%  {TOP:0px;}

}
.MENU{z-index: 1;width: 400px;height: 400px;display: inline-block;position: relative;left:100px;margin: 0px,0px;padding:0px;

transition: width 2s, height 2s, transform 1s;
}

.MENU:hover {
width: 550px;
height: 550px;
transform: rotate(360deg)
;
}
.snack{position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 100px;background-color:none;border-color: black;animation-name:snack;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 0s;
TOP:1600PX;

}

@keyframes snack {
0%   { TOP:2500px;}
100%  {TOP:0px;}}
.snack:hover{color:black;border-style: dotted;font-size: 130px;}
.burgers{position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 90px;background-color:none;border-color: black;animation-name:burgers;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 0.6s;
TOP:1600PX;

}

@keyframes burgers {
0%   { TOP:1600px;}
100%  {TOP:0px;}}
.burgers:hover{color:black;border-style: dotted;font-size: 110px;}
.salads{position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 100px;background-color:none;border-color: black;animation-name:salads;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 1s;
TOP:1600PX;

}

@keyframes salads {
0%   { TOP:1600px;}
100%  {TOP:0px;}}
.salads:hover{color:black;border-style: dotted;font-size: 130px;}
.mains{position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 100px;background-color:none;border-color: black;animation-name:mains;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 1.5s;
TOP:1600PX;

}

@keyframes mains {
0%   { TOP:1600px;}
100%  {TOP:0px;}}
.mains:hover{color:black;border-style: dotted;font-size: 130px;}
.kids{position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 100px;background-color:none;border-color: black;animation-name:kids;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 2s;
TOP:1600PX;

}

@keyframes kids {
0%   { TOP:1600px;}
100%  {TOP:0px;}}
.kids:hover{color:black;border-style: dotted;font-size: 130px;}
.breakfast{position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 100px;background-color:none;border-color: black;animation-name:breakfast;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 2.4s;
TOP:1600PX;

}

@keyframes breakfast {
0%   { TOP:1600px;}
100%  {TOP:0px;}}
.breakfast:hover{color:black;border-style: dotted;font-size: 110px;}
.desserts{ position: relative;border-style:none; border-width: 10px;text-decoration: none;color:white; font-weight: bolder;font-size: 100px;background-color:none;border-color: black;display: inline-block;animation-name:desserts;
animation-duration: 2s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 2.8s;
TOP:1600PX;

}

@keyframes desserts {
0%   { TOP:1600px;}
100%  {TOP:0px;}
}
.desserts:hover{color:black;border-style: dotted;font-size: 130px;}
.p1{font-family:serif,ARIAL,sans-serif;font-size:65px;font-weight: bold;text-align: left;color:black;position: relative;padding:0px;margin-top: -30px;left: 10px}
.price{color:red;font-family:serif,ARIAL,sans-serif;font-size: 60px;font-weight: bold;position: relative;margin-left:100px;margin-right: 0px;padding-left: 0px;display: inline-block;top:-70px;left: 300px;margin-bottom: 25px;}
.p2{font-family:serif,ARIAL,sans-serif;position: relative;font-size: 50px;top:-170px;margin: 0 auto 0 auto;padding: 0px;text-align: left;font-weight:bolder;left: 10px}
.price2{color:red;font-family:serif,ARIAL,sans-serif;font-size: 60px;font-weight: bold;position: relative;margin-left:100px;margin-right: 0px;padding-left: 0px;display: inline-block;top:-195px;left: 300px;margin-bottom: 25px;}
.priv{color:red;font-size: 80px;font-weight: bolder;;text-decoration: none;position:relative;
right:450px;display: inline-block;top: -250px;opacity: 40%;}
.priv:hover{font-size:100px;color:white;opacity: 100%}
.priv0{color:white;font-size: 80px;font-weight: bolder;;text-decoration: none;position:relative;
right:450px;display: inline-block;top: -450px;opacity: 40%;}
.priv0:hover{font-size:100px;color:white;opacity: 100%}
.price3{color:red;font-family:serif,ARIAL,sans-serif;font-size: 60px;font-weight: bold;position: relative;margin-left:100px;margin-right: 0px;padding-left: 0px;display: inline-block;top:-80px;left: 300px;margin-bottom: 25px;}
.ps{font-family:serif,ARIAL,sans-serif;font-size:64px;font-weight: bold;text-align: left;color:black;position: relative;padding:0px;margin-top: -30px;left: 10px}
.bebidas{z-index: 1;width: 350px;height: 450px;display: inline-block;position:absolute;left:225px;margin: 0px,0px,padding:0px;TOP:1600PX;

transition: width 2s, height 2s, transform 1s;
}

.bebidas:hover {
width: 500px;
height: 650px;
transform: rotate(360deg)
;
}

.drinks{width: 350px;height: 450px;position:absolute;left:725px;margin: 0px,0px,padding:0px; z-index: 1;

transition: width 2s, height 2s, transform 1s;
}

.drinks:hover {
width: 400px;
height: 550px;
transform: rotate(360deg)
;
}
.drinks{animation-name:drinks;
animation-duration: 1s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 1s;
TOP:-4000PX;
left: 430PX;
}

@keyframes drinks {
0%   { TOP:3000px;}
100%  {TOP:1400PX;}

}

.drinks:hover {
width: 500px;
height: 650px;
transform: rotate(360deg)
;
}
.bebidas{animation-name:bebidas;
animation-duration: 1s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 1s;
TOP:-4000PX;
left: 430PX;
}

@keyframes bebidas {
0%   { TOP:3000px;}
100%  {TOP:1400px;}

}
h5{color: black;font-size: 50px;}
h6{color: WHITE;font-size: 60px; top: 800PX;position: relative;z-index:0;font-family: sans-serif,serif;}
.h2{ position:absolute;;top:790px;left: 315px;text-decoration: none;
  COLOR:BLACK;border-width:10PX;font-size: 60PX; border-color: white;border-style:double;;display: inline-block;border-radius: 40px;letter-spacing: 120px;padding-left: 100px}
  .H2{ position:absolute;;top:1630px;left: 315px;text-decoration: none;
    COLOR:BLACK;border-width:10PX;font-size: 60PX; border-color: white;border-style:double;;display: inline-block;border-radius: 40px;letter-spacing: 120px;padding-left: 100px}
.H2:hover{background-color:white;}
.h2:hover{background-color:white;}
.h0{COLOR:white;font-size: 100PX;font-family:sans-serif,arial,serif;margin-bottom: 100PX;left:10PX;position: relative;}
#es{transition: width 2s, height 2s, transform 1s; margin-left: 0px;padding-left: 0px;width:400px;height:400px;position:relative;;left:-50px;border:0px;display: inline-block;top: 100px;}
#en{transition: width 2s, height 2s, transform 1s;width:400px;height:400px;position:relative;;left:50px;border:0px;display: inline-block;top: 100px;}
#es:hover{
  width: 500px;
  height: 500px;
  transform: rotate(360deg);}
  #en:hover{
    width: 500px;
    height: 500px;
    transform: rotate(360deg);}
.logo4{
  position: relative;width: 420px;height: 400px;display: inline-block;float:center;margin-top:50px;}
  #es{animation-name:es;
  animation-duration: 1s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  animation-delay:1s;
TOP:2300px;

  }

  @keyframes es {
  0%   { TOP:2000px;}
  100%  {TOP:80px;}
}
#en{animation-name:es;
animation-duration: 1s;
animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay:0.4s;
animation-delay: 1s
TOP:2300px;

}

@keyframes en {
0%   { TOP:2000px;}
100%  {TOP:80px;}
}
#showtime {font-family:sans-serif,serif,arial;LEFT:200PX;font-weight: BOLDER;color: white;display:none;width:800px;height: 200px;font-size: 80px;position:absolute; }
#showtime2 {font-family: sans-serif,serif,arial;left: 200px;font-weight: bolder;color:white;display:none;width:800px;height: 200px;font-size: 80px;position:absolute;}
#reset1{opacity:50%;;height:100px;position:absolute;left:750px;display:none;top: 450px;}
#reset2{opacity:50%;text-decoration: none;width:100px;height:100px;position:absolute;left:250px;top: 450px;display:none;}
.trip{width:150px;height: 150PX;position: absolute;margin:0;padding:0PX;top: 2550PX;display: inline-block;left: 530px}
.trip:hover{background-color: green;}
.reset{width:200px;}
.reset2{width:200px;}
.ales{top: -55px;position: relative;text-align:center;padding-left: 100px;padding-right: 100px;font-size: 80px;text-decoration: none;border-width: 20px;color:black;border-radius: 100px;border-style: hidden;border-color:white;}
.ales:hover{background-color: white ;}
.mees{top: -20px;position: relative;text-align:center;padding-left: 100px;padding-right: 100px;font-size: 80px;text-decoration: none;border-width: 20px;color:black;border-radius: 100px;border-style: hidden;border-color:white;}
.mees:hover{background-color: white ;}
.ales2{top: -50px;position: relative;text-align:center;padding-left: 100px;padding-right: 100px;font-size: 80px;text-decoration: none;border-width: 20px;color:black;border-radius: 100px;border-style: hidden;border-color:white;}
.ales2:hover{background-color: white ;}
.mees2{top: -20px;position: relative;text-align:center;padding-left: 100px;padding-right: 100px;font-size: 80px;text-decoration: none;border-width: 20px;color:black;border-radius: 100px;border-style: hidden;border-color:white;}
.mees2:hover{background-color: white ;}
#wifibtn2{top: 10px;color: white;position: relative;text-align:center;padding-left: 100px;padding-right: 100px;font-size: 75px;text-decoration: none;border-width: 20px;;border-radius: 100px;border-style: hidden;border-color:white;}
#wifibtn2:hover{background-color: white ;color:black}

#wifibtn{top: 20px;color: white;position: relative;text-align:center;padding-left: 100px;padding-right: 100px;font-size: 80px;text-decoration: none;border-width: 20px;;border-radius: 100px;border-style: hidden;border-color:white;}
#wifibtn:hover{background-color: white ;color:black}
#cony{ word-spacing:30px;color:white;font-size:42px;font-family: sans-serif,serif,arial ;position:relative;text-decoration: none;TOP:800PX;}
.insta{padding-left:20px;padding-right:-40px;color:white;text-decoration: none;}
.insta:hover{ color: black;border-style:double;border-radius: 100px;border-color: white;border-width: 10px;background-color:white}
.nection{margin-left: 50px;padding-left:20px;padding-right:20px;color:white;text-decoration: none;}
.nection:hover{color:black;background-color:white;border-style:double;border-radius: 100px;border-color: white;border-width: 10px;}
.face{padding-left:20px;padding-right:20px;color:white;;text-decoration: none;}
.face:hover{ color:black;border-style:double;border-radius: 100px;border-color: white;border-width: 10px;background-color:white}
.CASERO{color:red}
.coc{color:red;}
.priv10{color:white;font-size: 80px;font-weight: bolder;text-decoration: none;position:relative;
right:450px;display: inline-block;top: -250px;opacity: 40%;}
#tripI{text-decoration: none;}
.h15{display: inline-block;text-decoration: none;  position: relative;margin: 0px;font-size: 40px;border:0px;bottom: 100px;}
.space1{display: inline-block;}
.h16{display: inline-block;text-decoration: none;  position: relative;margin: 0px;font-size: 40px;border:0px;bottom: 100px;}
.h16:hover{color:green;}
.h17{position: absolute;top:2500px;display: inline-block;font-size:35px;right:-400px;margin: 0 auto 0 auto;padding: 0 auto 0 auto;}
#getwifi{ display: none;border-radius:10%;border-style: double;border-width:20px;width: 600px ;height:1650px; color: white;position: absolute;top:1500px;left: 290px;transition: height 2s;}
#getwifip{text-align: center;color: white;font-size: 75px;position:relative;margin-top: 75px;padding: 0px;}
#getwifi2{ display: none;border-radius:10%;border-style: double;border-width:20px;width: 700px ;height:1650px; color: white;position: absolute;top:1500px;left: 245px;transition: height 2s;}
#getwifip2{text-align: center;color: white;font-size: 70px;position:relative;margin-top: 75px;padding: 0px;}

#input{width: 540px;height:100px;font-size: 55px;position: relative;right:0px;background-color: RED;top: 0px;margin: 0px;padding: 0px;}
#input2{width: 540px;height:100px;font-size: 55px;position: relative;right:0px;background-color: RED;top: 30px;margin: 0px;padding: 0px;}
#getwifiimg2{position: relative;right:-100px;width: 350px;height: 350px; top: 100px;margin-top: 5px;padding: 0px;}
#input3{width: 540px;height:100px;font-size: 55px;position: relative;right:0px;background-color: RED;top: 30px;margin: 0px;padding: 0px;}
#input4{width: 540px;height:100px;font-size: 55px;position: relative;right:0px;background-color: RED;top: 0px;margin: 0px;padding: 0px;}
#inpon{text-align: center;font-weight: bolder;width: 700px;height:150px;font-size: 90px;position: relative;right:0px;background-color: RED;top: 50px;margin: 0px;padding: 0px;transition: position 1s;}
#timer{display: none;font-weight: bolder;width: 700px;height:150px;font-size: 90px;position: absolute;right:0px;background-color: none;top: bottom:350px;margin: 0px;padding: 0px;transition: position 1s;right:150px}
#subpon{font-weight: bolder;width: 700px;height:150px;font-size: 55px;position: relative;right:0px;background-color: RED;top: 120px;margin: 0px;padding: 0px;transition: position 1s;transition: width 2s;}
#divpon{border-radius:0%;border-style: double;border-width:20px;width: 1000px ;height:500px; color: white;position: relative;top: 1000px;}
#cupondiv{ display: none;transition: height 2s;}
#getwifiimg{position: relative;right:-100px;width: 350px;height: 350px; top: 100px;margin-top: 5px;padding: 0px;}
#marker{ display: none;position: relative;;width: 200px; height: 200px;right:80px;top:-50px;margin-top:  5px;padding: 0px;}
#marker1{ display: none;position: relative;width: 200px; height: 200px;right:80px;top:-50px;margin-top:  5px;padding: 0px;}

#marker{;text-decoration: none;

	opacity: 1;
	animation-name: marker;
	animation-iteration-count: 100000000;
	animation-timing-function:ease-in-out;
	animation-duration: 1.5s;
}

@keyframes marker {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
  100% {
		opacity: 0;}
}
#marker1{text-decoration: none;
	opacity: 1;
	animation-name: marker1;
	animation-iteration-count: 100000000;
	animation-timing-function:ease-in-out;
	animation-duration: 1.5s;
}

@keyframes marker1 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
  100% {
		opacity: 0;}
}
#getwifiimg{text-decoration: none;
	opacity: 1;
	animation-name: getwifiimg;
	animation-iteration-count: 1;
	animation-timing-function:ease-in;
	animation-duration: 1.5s;
}

@keyframes getwifiimg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
}
}
/*#timer{text-decoration: none;
	opacity: 1;
	animation-name: timer;
	animation-iteration-count: 100000000;
	animation-timing-function:ease-in-out;
	animation-duration: 1.5s;
}

@keyframes timer {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
  100% {
		opacity: 0;}
}
#cupon{padding-left: 100px;padding-right: 100px;border-width: 20px;;border-radius: 100px;border-style: hidden;border-color:white;font-family:sans-serif;display:none;top:950px;position: 0 auto 0 auto;color: white;position:relative;;font-size: 80px;text-decoration: none;font-weight: bolder;}
#cupon:hover{background-color: white ;color:black}
#logo5{position: absolute;width: 200px;height:180px;right: 400px;top: 280px;display:none;
  }

  @-webkit-keyframes logo5 {
   from { -webkit-transform: rotateY(0deg);    }
   to   { -webkit-transform: rotateY(-360deg); }
 }

 @keyframes logo5 {
   from {
     -moz-transform: rotateY(0deg);
     -ms-transform: rotateY(0deg);
     transform: rotateY(0deg);
   }
   to {
     -moz-transform: rotateY(-360deg);
     -ms-transform: rotateY(-360deg);
     transform: rotateY(-360deg);
   }
 }
 #logo5 {
   -webkit-perspective: 1200px;
   -moz-perspective: 1200px;
   -ms-perspective: 1200px;
   perspective: 1200px;
}
#logo5 {
  -webkit-animation-name: logo5;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: logo5;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#logo5:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  width: 300px;
}*/
.cburger{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.chicburger{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.serrano{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.laplaza{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.cesar{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.linguine{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:500px;height:350px;}
.fusili{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:650px;height:500px;}
.quesadilla{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.miniburger{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:400px;}
.bravas{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:300px;transform: rotate(-7deg);}
.rollo{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:300px;transform: rotate(-7deg);}
.gambas{position: relative;Left:250px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:550px;height:300px;transform: rotate(-7deg);}
.pincho2{position: relative;Left:220px;bottom:100px;;margin: 0px;padding: 0PX;display: inline-block;width:700px;height:200px;transform: rotate(-7deg);}
